@model StudentManagementSystem.Models.FeeTransaction

@{
    ViewData["Title"] = "Add";
}

<div class="container col-8">
    <div class="row mt-5">
        <div class="col-md-8">
            <h2>Create New Fee Transaction</h2>
        </div>
        <div class="col-md-4 text-end">
            <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
        </div>
    </div>
    <hr />

    <div class="container mt-5">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FeeId" />

            <div class="form-group">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label asp-for="StudentId" class="control-label"></label>
                    </div>
                    <div class="col-md-8">
                        @{
                            if (Model != null)
                            {
                                <select disabled asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                            }
                            else
                            {
                                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId">
                                    <option class="text-center">- - -  Select Student  - - -</option>
                                </select>
                                <span asp-validation-for="StudentId" class="text-danger"></span>
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label asp-for="TutionFee" class="control-label"></label>
                    </div>
                    <div class="col-md-8">
                        @if (Model?.TutionFee != null)
                        {
                            <input disabled asp-for="TutionFee" class="form-control" />
                        }
                        else
                        {
                            <input asp-for="TutionFee" class="form-control" onkeyup="CalculateFeeBill()" />
                        }
                        <span asp-validation-for="TutionFee" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label asp-for="PreviousArrears" class="control-label"></label>
                    </div>
                    <div class="col-md-8">
                        @if (Model?.PreviousArrears != null)
                        {
                            <input disabled asp-for="PreviousArrears" class="form-control" />
                        }
                        else
                        {
                            <input asp-for="PreviousArrears" class="form-control" onkeyup="CalculateFeeBill()" />
                        }
                        <span asp-validation-for="PreviousArrears" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label asp-for="AdmissionFee" class="control-label"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="AdmissionFee" class="form-control" onkeyup="CalculateFeeBill()" />
                        <span asp-validation-for="AdmissionFee" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label asp-for="Fine" class="control-label"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Fine" class="form-control" onkeyup="CalculateFeeBill()" />
                        <span asp-validation-for="Fine" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label asp-for="StationaryCharges" class="control-label"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="StationaryCharges" class="form-control" onkeyup="CalculateFeeBill()" />
                        <span asp-validation-for="StationaryCharges" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label asp-for="FeePayable" class="control-label"></label>
                    </div>
                    <div class="col-md-8">
                        <input disabled asp-for="FeePayable" class="form-control" />
                        <span asp-validation-for="FeePayable" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @*<div class="form-group">
            <div class="row mb-3">
            <div class="col-md-4">
            <label asp-for="FeePaid" class="control-label"></label>
            </div>
            <div class="col-md-8">
            <input asp-for="FeePaid" class="form-control" />
            <span asp-validation-for="FeePaid" class="text-danger"></span>
            </div>
            </div>
            </div>*@

            @*<div class="form-group">
            <div class="row mb-3">
            <div class="col-md-4">
            <label asp-for="NextArrears" class="control-label"></label>
            </div>
            <div class="col-md-8">
            <input asp-for="NextArrears" class="form-control" />
            <span asp-validation-for="NextArrears" class="text-danger"></span>
            </div>
            </div>
            </div>*@

            <div class="form-group">
                <div class="col-md-8 offset-md-4">
                    <input type="submit" value="Generate Fee Bill" class="btn btn-primary form-control" />
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@*<script src="~/js/site.js"></script>*@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    $("#StudentId").change(function () {
        //alert(this.value);

        $('#StudentId').append('<span class="alert-info">Please wait while we are fetching outstanding fee bill, if any!</span>')

        var StudentId = parseInt($("#StudentId").val());
        $.ajax({
            type: 'POST',
            url: '@Url.Action("OutstandingFeeTransaction", "FeeTransactions")',
            data: { id: StudentId },
            dataType: 'json',
            success: function (success) {
                //console.log(success);
                //alert(success.previousArrears);
                //TutionFee PreviousArrears AdmissionFee Fine StationaryCharges FeePayable

                $("#TutionFee").val(success.tutionFee);
                if (success.tutionFee) { $('#TutionFee').prop('disabled', true); }
                $("#PreviousArrears").val(success.previousArrears);
                if (success.previousArrears) { $('#PreviousArrears').prop('disabled', true); }
                $("#AdmissionFee").val(success.admissionFee);
                $("#Fine").val(success.Fine);
                $("#StationaryCharges").val(success.stationaryCharges);
                //$("#FeePayable").val(success.feePayable);
                if (success.feePayable) {
                    $("#FeePayable").val(success.feePayable);
                }
                else {
                    CalculateFeeBill();
                }
            },
            error: function (error) {
                alert(error);
            }
        });
    });

    function CalculateFeeBill() {
        var TutionFee = 0;
        var PreviousArrears = 0;
        var AdmissionFee = 0;
        var Fine = 0;
        var StationaryCharges = 0;

        if ($("#TutionFee").val()) {
            TutionFee = parseInt($("#TutionFee").val());
        }
        if ($("#PreviousArrears").val()) {
            PreviousArrears = parseInt($("#PreviousArrears").val());
        }
        if ($("#AdmissionFee").val()) {
            AdmissionFee = parseInt($("#AdmissionFee").val());
        }
        if ($("#Fine").val()) {
            Fine = parseInt($("#Fine").val());
        }
        if ($("#StationaryCharges").val()) {
            StationaryCharges = parseInt($("#StationaryCharges").val());
        }
        $("#FeePayable").val(TutionFee + PreviousArrears + AdmissionFee + Fine + StationaryCharges);
    }
</script>
